h1{
    font-family: 'Roboto';
    font-weight: 500;
    margin:1% 0%;
}

h2, h3, h4, h5, h6{
    font-family: 'Roboto';
    font-weight: bold;
}

p{
    font-family: 'Roboto';
}
.navbar-brand{
    font-family:'Roboto';
    font-weight: 500;
}
.row{
    margin:2% 0%;
}
body{
    background-color:#EE3A29 !important;
}
#mainDesc{
	padding-left : 10%;
}
.bg-custom{
    background-color:#E4E1DE !important;
}

.namePhoto{
    text-align: center;
    align-items: center;
}

link{
    color: black
}

hover{
    color: grey
}

visited{
    color: rgb(110, 110, 110)
}

/* Moved from homePage.css*/




table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#tableBody{
height: 100;
background-image: linear-gradient(#EE3A29, #EE3A29);

}

#homeBody{
	background-color: #EE3A29;
}

#infobox{
	margin:3%;
	background-color: #E4E1DE;
	align-items:center;
}
.entityDiagram{
    font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr; line-height: 2.5; direction: ltr; background-color: #d5d2ca; border-radius:25px;
}
.entityDiagram a{
    color: black; text-decoration: none;
}
.entityDiagram a:hover{
    text-decoration:underline;
}
.entity{
    background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;
}
.DISEASE{
    background: #ff6d22;
}
.CI{
    background: #fed100;
}
.SO{
    background:#00af3f;
}
.TAXON{
    background: #00a1de;
}
.PROTEIN{
    background:#b1059d;
}
.GO{
    background: #00a1de;
}
.GGP{
    background: #d5d2ca;
}
.DNA{
    background: #d3bf96
}
.f
.entityClass{
    font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem
}